{% import 'navbar.html' as navbar with context %}
{% import 'alert.html' as alert %}
{% import 'utils.html' as utils %}
{% import 'table.html' as table %}
{% import 'pagination.html' as pagination %}

<!DOCTYPE html>
<html>
  {% include "header.html" %}
  <body>
      {% call navbar.navbar('Blood Pressure') %}
      <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal modal-trigger" href="#modal">
          <i class="material-icons">add</i>
      </a>
      {% endcall %}
      <div class="container">
          {{ alert.danger(message) }}
          {{ table.table(header, rows, "delete_row") }}
          {{ pagination.pagination(total_pages, active_page) }}
          {% if rows %}
              {{ utils.button_download_csv("blood_pressure/csv") }}
          {% endif %}
      </div>
      <div id="modal" class="modal" onOpenEnd="resetDialogFields()">
          <form method="post">
              <div class="modal-content">
                  <h4>Add Measurement</h4>
                  <div class="row">
                      <div class="input-field col s6">
                          <input id="date" name="date" type="date" placeholder=" ">
                          <label>Date</label>
                      </div>
                      <div class="input-field col s3">
                          <select id="time-hours" name="hour">
                              {% for hour in range(0, 25) %}
                              <option value="{{hour}}">{{hour}}</option>
                              {% endfor %}
                          </select>
                          <label>Hour</label>
                      </div>
                      <div class="input-field col s3">
                          <select id="time-minutes" name="minute">
                              {% for minute in range(0, 61) %}
                              <option value="{{minute}}">{{'{:02d}'.format(minute)}}</option>
                              {% endfor %}
                          </select>
                          <label>Minute</label>
                      </div>
                  </div>
                  <div class="row">
                      <p class="range-field col s12">
                          <label>Systolic</label>
                          <input id="systolic" name="systolic" class="range" type="range" min="40" max="200" />
                      </p>
                  </div>
                  <div class="row">
                      <p class="range-field col s12">
                          <label>Diastolic</label>
                          <input id="diastolic" name="diastolic" class="range" type="range" min="20" max="120" />
                      </p>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="modal-close waves-effect waves-green btn-flat">Cancel</button>
                  <button type="submit" class="modal-close waves-effect waves-light btn">Add</button>
              </div>
          </form>
      </div>
      <script>
          function delete_row(rowid) {
              var request = new XMLHttpRequest();
              request.addEventListener("load", () => { location.reload(); });
              request.open("DELETE", "/blood_pressure/" + rowid);
              request.send();
          }

          document.addEventListener('DOMContentLoaded', function() {
              M.Range.init(document.querySelectorAll('.range'));
              M.FormSelect.init(document.querySelectorAll('select'));
              M.Modal.init(document.getElementById('modal'), {
                  onOpenStart: function() {
                      // set to current time/date when dialog opens
                      const now = new Date();

                      const padmonth = now.getUTCMonth() < 10 ? '0' : '';
                      const padday = now.getUTCDate() < 10 ? '0' : '';
                      const isodate = now.getUTCFullYear() + '-' + padmonth + (now.getUTCMonth() + 1) + '-' + padday + now.getUTCDate();
                      document.getElementById('date').value = isodate;

                      document.getElementById('time-hours').value = now.getHours();
                      document.getElementById('time-minutes').value = now.getMinutes();
                      M.FormSelect.init(document.querySelectorAll('select'));
                  },
              });
          });
      </script>
      {% include "footer.html" %}
  </body>
</html>
