{% macro navbar(title='') -%}
<nav class="nav-extended">
    <div class="nav-wrapper">
        <a class="brand-logo center" href="/">
            <svg style="vertical-align: center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="64" height="64" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M 3.6667361,16 H 10.86114 L 13.944456,21.621632 18.055544,10.378368 21.13886,16 h 7.194404" />
                <path d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z" />
            </svg>
        </a>
        <ul class="right">
            {% if current_user is defined %}
            <li><a class="hide-on-small-only">Signed in as <b>{{current_user.username}}</b></a></li>
            {% endif %}
            <li>
                <a id='nav_dropdown_trigger' class='dropdown-trigger' href='#' data-target='nav_dropdown'>
                    <i class="material-icons">more_vert</i>
                </a>
            </li>
        </ul>
    </div>
    {% if title %}
    <div class="nav-content">
        <span class="nav-title">{{title}}</span>
        {{ caller() }}
    </div>
    {% endif %}
    <div class="hide-on-med-and-up" style="margin-top: 2rem"/>
</nav>

<ul id='nav_dropdown' class='dropdown-content'>
    {% if current_user is defined %}
    <li class="hide-on-med-and-up"><a>Signed in as<br><b>{{current_user.username}}</b></a></li>
    {% endif %}
    <li class="hide-on-med-and-up divider" tabindex="-1"></li>
    <li><a href="/blood_pressure">Blood Pressure</a></li>
    <li class="divider" tabindex="-1"></li>
    {% if current_user is defined %}
    <li><a href="/logout">Logout</a></li>
    {% else %}
    <li><a href="/login">login</a></li>
    {% endif %}
</ul>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        M.Dropdown.init(document.getElementById('nav_dropdown_trigger'), {
            constrainWidth: false,
        });
    });
</script>
{%- endmacro %}

